<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crawler.mapper.AlertTabulateMapper">
    <insert id="insert">
        INSERT INTO alert_tabulate (
            alert_id,
            total_article,
            total_sensitive,
            total_neutral,
            total_non_sensitive,
            region_chart,
            region_rank,
            create_time
        ) VALUES (
                     #{alertId},
                     #{totalArticle},
                     #{totalSensitive},
                     #{totalNeutral},
                     #{totalNonSensitive},
                     #{regionChart},
                     #{regionRank},
                     #{createTime}
                 )
    </insert>
</mapper>