<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口的全限定类名一致 -->
<mapper namespace="com.crawler.mapper.CrawlerMapper">
    <insert id="insert">
        insert crawler (crawler_id,crawler_name,config_method)
        values (#{crawlerId}, #{crawlerName}, #{configMethod})
    </insert>
    <update id="updateCrawlerName">
        UPDATE crawler
        SET crawler_name = #{crawlerName}
        WHERE crawler_id = #{crawlerId}
    </update>
    <update id="updateConfigMethod">
        UPDATE crawler
        SET config_method = #{configMethod}
        WHERE crawler_id = #{crawlerId}
    </update>


    <select id="selectByCrawlerId" resultType="com.crawler.entity.Crawler">
        select * from crawler where crawler_id = #{crawlerId}
    </select>

    <select id="selectByCrawlerName" resultType="com.crawler.entity.Crawler">
        select * from crawler where crawler_name = #{crawlerName}
    </select>
</mapper>