<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口的全限定类名一致 -->
<mapper namespace="com.crawler.mapper.LoginMapper">

    <select id="selectByUsernameAndPassword" resultType="com.crawler.entity.User">
        select * from user where username = #{username} and password = #{password}
    </select>

    <select id="selectByPhone" resultType="com.crawler.entity.User">
        select * from user where phone = #{phone}
    </select>

    <select id="selectByUsername" resultType="com.crawler.entity.User">
        select * from user where username = #{username} and password = #{password}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert user (username, password, phone, create_time, update_time)
        values (#{username}, #{password}, #{phone}, #{createTime}, #{updateTime})
    </insert>
</mapper>