<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与Mapper接口的全限定类名一致 -->
<mapper namespace="com.crawler.mapper.NewsDataCronMapper">
    <!-- 批量插入，url重复则忽略（联合主键 crawler_id+url） -->
    <insert id="batchInsertIgnore">
        INSERT IGNORE INTO news_data_cron
        (crawler_id, title, content, publish_time, source, url, pic_url)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.crawlerId}, #{item.title}, #{item.content},
            #{item.publishTime}, #{item.source}, #{item.url}, #{item.picUrl})
        </foreach>
    </insert>

    <delete id="delete">
        delete from news_data_cron where url = #{url} and crawler_id = #{crawlerId}
    </delete>

    <select id="infoList" resultType="com.crawler.entity.NewsDataCron">
        SELECT * FROM news_data_cron
        WHERE crawler_id = #{crawlerId}
        order BY publish_time DESC
        limit #{pageSize} offset #{offset}
    </select>

    <select id="select" resultType="com.crawler.entity.NewsDataCron">
        SELECT * FROM news_data_cron where url = #{url} and crawler_id = #{crawlerId}
    </select>

</mapper>